.app-title {
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  text-align: center;
  margin-top: 20px;
  background: linear-gradient(45deg, #003cff, #00d1ff, #00ff48);
  background-size: 150% 150%;
  animation: gradient-animation 5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.score-tracker {
  position: absolute;
  top: 35px;
  left: 35px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  padding: 10px 20px;
  border-radius: 12px;
  background: #1a1a1a;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.score-tracker p {
  margin: 0;
  line-height: 1;
}

.score-tracker-final {
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 24px;
  font-family: "Inter", sans-serif;
  color: white;
  text-align: center;
  z-index: 10;
}

.game-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  padding: 15px 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background: #1a1a1a;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.start-button:hover {
  transform: translate(-50%, -50%) scale(1.05);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.1);
}

.start-button:active {
  transform: translate(-50%, -50%) scale(0.95);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.restartText {
  opacity: 18%;
  position: absolute;
  top: calc(50% + 50px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Inter", sans-serif;
}
