h2 {
  margin-top: 0px;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  color: white;
}

.highscores-container {
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 20px;
  overflow: hidden;
}

.highscores-list {
  list-style: decimal;
  padding: 0 10px 0 0;
  margin: 0;
  height: 40vh;
  overflow-y: auto;
}

.highscores-list::-webkit-scrollbar {
  width: 6px;
}

.highscores-list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.075);
  border-radius: 20px;
  margin-left: 10px;
}

.highscores-list::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

.highscores-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 20px;
}

.highscores-list li:last-child {
  border-bottom: none;
}

.highscores-list li .score {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
}

@media (min-height: 900px) {
  .highscores-list {
    height: 47vh;
  }
}

@media (min-height: 1100px) {
  .highscores-list {
    height: 47vh;
  }

  .highscores-container {
    margin-top: 10%;
  }
}

@media (min-height: 1500px) {
  .highscores-list {
    height: 51vh;
  }

  .highscores-container {
    margin-top: 20%;
  }
}
